* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 15px;
    min-width: 400px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3e41eb;
    margin-bottom: 5px;
  }
  
  button {
    background: #3e41eb;
    color: white;
    padding: 10px 20px;
    border: 1px solid #3e41eb;
    font-weight: bold;
  }
  
  #delete-btn {
    background: white;
    color: #3e41eb;
    border: 1px solid #3e41eb;
    font-weight: bold;
  }
  
  ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-top: 5px;
  }
  
  a {
    color: #06b1cf;
  }
  